In [1]:
# import necessary modules
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# read in each freq file as a df Darwin
ntIIntIIIa = pd.read_table('ntII-ntIIIa_filtered.frq', sep="\t")
ntIIntIIIa.head()

,CHROM_ntII,POS_ntII,N_ALLELES_ntII,N_CHR_ntII,ALLELE_1_ntII,ALLELE_2_ntII,ALLELE_3_ntII,ALLELE_4_ntII,FREQ_1_ntII,FREQ_2_ntII,...,N_ALLELES_ntIIIa,N_CHR_ntIIIa,ALLELE_1_ntIIIa,ALLELE_2_ntIIIa,ALLELE_3_ntIIIa,ALLELE_4_ntIIIa,FREQ_1_ntIIIa,FREQ_2_ntIIIa,FREQ_3_ntIIIa,FREQ_4_ntIIIa
0,Chromosome_1,132356,1,38,T,N,N,N,1.0,0.0,...,1,84,T,N,N,N,1.0,0.0,0.0,0.0
1,Chromosome_1,132357,1,38,A,N,N,N,1.0,0.0,...,1,84,A,N,N,N,1.0,0.0,0.0,0.0
2,Chromosome_1,132358,1,38,A,N,N,N,1.0,0.0,...,1,80,A,N,N,N,1.0,0.0,0.0,0.0
3,Chromosome_1,132359,1,38,C,N,N,N,1.0,0.0,...,1,84,C,N,N,N,1.0,0.0,0.0,0.0
4,Chromosome_1,132360,1,36,A,N,N,N,1.0,0.0,...,1,84,A,N,N,N,1.0,0.0,0.0,0.0

In [5]:
ntIIIa_comp=[]
for i in range(len(ntIIntIIIa)):
    if ntIIntIIIa['ALLELE_1_ntII'].iloc[i] == ntIIntIIIa['ALLELE_1_ntIIIa'].iloc[i]:
        ntIIIa_comp.append(ntIIntIIIa['FREQ_1_ntIIIa'].iloc[i])
    elif ntIIntIIIa['ALLELE_1_ntII'].iloc[i] == ntIIntIIIa['ALLELE_2_ntIIIa'].iloc[i]:
        ntIIIa_comp.append(ntIIntIIIa['FREQ_2_ntIIIa'].iloc[i])
    elif ntIIntIIIa['ALLELE_1_ntII'].iloc[i] == ntIIntIIIa['ALLELE_3_ntIIIa'].iloc[i]:
        ntIIIa_comp.append(ntIIntIIIa['FREQ_3_ntIIIa'].iloc[i])
    else:
        ntIIIa_comp.append('NA')
ntIIntIIIa['ntIIIa_comp']=ntIIIa_comp
ntIIntIIIa.head()

,CHROM_ntII,POS_ntII,N_ALLELES_ntII,N_CHR_ntII,ALLELE_1_ntII,ALLELE_2_ntII,ALLELE_3_ntII,ALLELE_4_ntII,FREQ_1_ntII,FREQ_2_ntII,...,N_CHR_ntIIIa,ALLELE_1_ntIIIa,ALLELE_2_ntIIIa,ALLELE_3_ntIIIa,ALLELE_4_ntIIIa,FREQ_1_ntIIIa,FREQ_2_ntIIIa,FREQ_3_ntIIIa,FREQ_4_ntIIIa,ntIIIa_comp
0,Chromosome_1,132356,1,38,T,N,N,N,1.0,0.0,...,84,T,N,N,N,1.0,0.0,0.0,0.0,1.0
1,Chromosome_1,132357,1,38,A,N,N,N,1.0,0.0,...,84,A,N,N,N,1.0,0.0,0.0,0.0,1.0
2,Chromosome_1,132358,1,38,A,N,N,N,1.0,0.0,...,80,A,N,N,N,1.0,0.0,0.0,0.0,1.0
3,Chromosome_1,132359,1,38,C,N,N,N,1.0,0.0,...,84,C,N,N,N,1.0,0.0,0.0,0.0,1.0
4,Chromosome_1,132360,1,36,A,N,N,N,1.0,0.0,...,84,A,N,N,N,1.0,0.0,0.0,0.0,1.0

In [6]:
# remove scaffolds
patternDel="Scaffold"
filter=ntIIntIIIa['CHROM_ntII'].str.contains(patternDel)
ntIIntIIIa=ntIIntIIIa[~filter]
ntIIntIIIa.head()

,CHROM_ntII,POS_ntII,N_ALLELES_ntII,N_CHR_ntII,ALLELE_1_ntII,ALLELE_2_ntII,ALLELE_3_ntII,ALLELE_4_ntII,FREQ_1_ntII,FREQ_2_ntII,...,N_CHR_ntIIIa,ALLELE_1_ntIIIa,ALLELE_2_ntIIIa,ALLELE_3_ntIIIa,ALLELE_4_ntIIIa,FREQ_1_ntIIIa,FREQ_2_ntIIIa,FREQ_3_ntIIIa,FREQ_4_ntIIIa,ntIIIa_comp
0,Chromosome_1,132356,1,38,T,N,N,N,1.0,0.0,...,84,T,N,N,N,1.0,0.0,0.0,0.0,1.0
1,Chromosome_1,132357,1,38,A,N,N,N,1.0,0.0,...,84,A,N,N,N,1.0,0.0,0.0,0.0,1.0
2,Chromosome_1,132358,1,38,A,N,N,N,1.0,0.0,...,80,A,N,N,N,1.0,0.0,0.0,0.0,1.0
3,Chromosome_1,132359,1,38,C,N,N,N,1.0,0.0,...,84,C,N,N,N,1.0,0.0,0.0,0.0,1.0
4,Chromosome_1,132360,1,36,A,N,N,N,1.0,0.0,...,84,A,N,N,N,1.0,0.0,0.0,0.0,1.0

In [8]:
# calculate dxy
#dxy =(p * (1-q)) + (q * (1-p))
ntIIntIIIa['dxy']=(ntIIntIIIa['FREQ_1_ntII']*(1-ntIIntIIIa['ntIIIa_comp']))+(ntIIntIIIa['ntIIIa_comp']*(1-ntIIntIIIa['FREQ_1_ntII']))
ntIIntIIIa.head()

,CHROM_ntII,POS_ntII,N_ALLELES_ntII,N_CHR_ntII,ALLELE_1_ntII,ALLELE_2_ntII,ALLELE_3_ntII,ALLELE_4_ntII,FREQ_1_ntII,FREQ_2_ntII,...,ALLELE_1_ntIIIa,ALLELE_2_ntIIIa,ALLELE_3_ntIIIa,ALLELE_4_ntIIIa,FREQ_1_ntIIIa,FREQ_2_ntIIIa,FREQ_3_ntIIIa,FREQ_4_ntIIIa,ntIIIa_comp,dxy
0,Chromosome_1,132356,1,38,T,N,N,N,1.0,0.0,...,T,N,N,N,1.0,0.0,0.0,0.0,1.0,0.0
1,Chromosome_1,132357,1,38,A,N,N,N,1.0,0.0,...,A,N,N,N,1.0,0.0,0.0,0.0,1.0,0.0
2,Chromosome_1,132358,1,38,A,N,N,N,1.0,0.0,...,A,N,N,N,1.0,0.0,0.0,0.0,1.0,0.0
3,Chromosome_1,132359,1,38,C,N,N,N,1.0,0.0,...,C,N,N,N,1.0,0.0,0.0,0.0,1.0,0.0
4,Chromosome_1,132360,1,36,A,N,N,N,1.0,0.0,...,A,N,N,N,1.0,0.0,0.0,0.0,1.0,0.0

In [10]:
pd.DataFrame.to_csv(ntIIntIIIa, 'ntII-ntIIIa_filtered_dxy.frq', sep="\t", index=False)